# Ignore all dot files
.*

#except for
!*.example
!.gitignore
!.gitkeep
!.editorconfig

# Laravel
/bootstrap/compiled.php
/vendor

# Deploy
.env.local.php
.env.php
.DS_Store

# Configuration
/app/config/local
/app/config/staging
/app/config/production

# Composer
composer.phar
composer.lock

# OS
.DS_Store
.idea/
vagrant
.vagrant

# Packages
_ide_helper.php

# SASS
*.css.map
/public/assets/stylesheets/css/master.css
/public/assets/stylesheets/css/master.css.map
